<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <form [formGroup]="form" (ngSubmit)="onSubmit()" class="login100-form validate-form">

                <div class="col alert alert-danger text-center" *ngIf="errorMessage.length > 0">{{errorMessage}}</div>
                <div class="col alert alert-success text-center" *ngIf="successMessage.length > 0">{{successMessage}}</div>

                <span class="login100-form-title p-b-34">ESQUECI A SENHA</span>

                <div class="wrap-input100 validate-input m-b-20">
                    <label class="login-input-label" for="email">Seu usuário ou email</label>

                    <input type="text"
                           formControlName="email"
                           class="input100"
                           id="email"
                           [ngClass]="{ 'is-invalid': submitted && f.email.errors }"/>

<!--                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">-->
<!--                        <div *ngIf="f.email.errors.required">Email is required</div>-->
<!--                        <div *ngIf="f.email.errors.email">Email is invalid</div>-->
<!--                    </div>-->
                </div>


                <div class="container-login100-form-btn">
                    <button [disabled]="!isFeatureEnabled" class="login100-form-btn">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        CONFIRMAR
                    </button>
                </div>

<!--                <div class="container-login100-form-btn">-->
<!--                    <button class="login100-form-btn" type="submit">-->
<!--                        <a routerLink="../login" class="login100-form-btn">VOLTAR</a>-->
<!--                    </button>-->
<!--                </div>-->
            </form>


            <div class="login100-more" style="background-image: url('assets/demolay_logo.png');"></div>
        </div>
    </div>
</div>



