<div class="col-lg-8">
    <form novalidate [formGroup]="userForm">
        <fieldset>
            <!--            <legend>Opa</legend>-->
            <div class="form-group row">
                <label class="col-md-2 col-form-label" for="id">Id</label>
                <div>
                    <input class="form-control"
                           id="id"
                           type="text"
                           size="50"
                           formControlName="id"
                           name="id"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-2 col-form-label" for="username">Usuário</label>
                <div>
                    <input class="form-control"
                           id="username"
                           type="text"
                           size="50"
                           formControlName="username"
                           name="name"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-2 col-form-label" for="firstName">Nome</label>
                <div>
                    <input class="form-control"
                           id="firstName"
                           type="text"
                           size="50"
                           formControlName="firstName"
                           name="name"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-2 col-form-label" for="lastName">Sobrenome</label>
                <div>
                    <input class="form-control"
                           id="lastName"
                           type="text"
                           size="50"
                           formControlName="lastName"
                           name="name"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-2 col-form-label" for="email">Email</label>
                <div>
                    <input class="form-control"
                           id="email"
                           type="text"
                           size="50"
                           formControlName="email"
                           name="name"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-2 col-form-label" for="capitulo">Capítulo</label>
                <div>
<!--                    <select class="form-control" formControlName="chapter">-->
<!--                        <option *ngFor="let chapter of chapters"-->
<!--                                [value]="chapter.id"-->
<!--                                [selected]="user.chapter.id">{{chapter.name}}</option>-->
<!--                    </select>-->

                    <mat-form-field appearance="fill">
                        <mat-label>Capítulo</mat-label>
                        <mat-select
                                id="capitulo"
                                formControlName="chapter"
                                name="chapter">
                            <mat-option *ngFor="let chapter of chapters" [value]="chapter.id">
                                {{chapter.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-2 col-form-label" for="mestre">Mestre</label>
                <div>
                    <mat-checkbox
                            id="mestre"
                            class="example-margin"
                            formControlName="master"
                            name="mestre">
                    </mat-checkbox>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-2 col-form-label" for="active">Ativo</label>
                <div>
                    <mat-checkbox
                            id="active"
                            class="example-margin"
                            formControlName="active"
                            name="active">
                    </mat-checkbox>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-2 col-form-label" for="creationDate">Ultimo login</label>
                <div>
                    <input class="form-control"
                           id="lastLogin"
                           type="text"
                           size="50"
                           formControlName="lastLogin"
                           name="lastLogin"/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-2 col-form-label" for="creationDate">Criado em</label>
                <div>
                    <input class="form-control"
                           id="creationDate"
                           type="text"
                           size="50"
                           formControlName="creationDate"
                           name="name"/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-2 col-form-label" for="modificationDate">Modificado em</label>
                <div>
                    <input class="form-control"
                           id="modificationDate"
                           type="text"
                           size="50"
                           formControlName="modificationDate"
                           name="name"/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-2 col-form-label" for="inactivatedIn">Inativado em</label>
                <div>
                    <input class="form-control"
                           id="inactivatedIn"
                           type="text"
                           size="50"
                           formControlName="inactivatedIn"
                           name="name"/>
                </div>
            </div>
        </fieldset>
    </form>

    <button class="btn btn-primary mr-3"
            style="width:80px"
            type="button"
            [disabled]="!isValid()"
            (click)="saveUser()">
        Salvar
    </button>

    <button class="btn btn-primary mr-3"
            style="width:80px"
            type="button"
            (click)="inactivate()">
        Inativar
    </button>

    <button class="btn btn-danger mr-3"
            style="width:80px"
            type="button"
            (click)="delete()">
        Deletar
    </button>

    <div>
        Dirty: {{userForm.dirty}} <br>
        Touched: {{userForm.touched}} <br>
        Valid: {{userForm.valid}} <br>
        Value: {{userForm.value | json}}
    </div>
</div>
