<div class="container2">
    <div class="post-index">
        <header class="post-header">
            <p>Aqui você pode ver todos os detalhes do evento</p>
        </header>
    </div>

    <div>
<!--        <mat-form-field>-->
        <input [matDatepicker]="myDatepicker" [value]="event.dateTime"
               (dateInput)="addEvent('input', $event)"
               (dateChange)="addEvent('change', $event)"
        >
        <mat-datepicker-toggle [for]="myDatepicker"></mat-datepicker-toggle>
        <mat-datepicker #myDatepicker></mat-datepicker>
<!--        </mat-form-field>-->
    </div>

    <div class='alert alert-success' *ngIf="eventCreated">{{successMessage}}</div>
    <div class="alert alert-danger" *ngIf="invalidCreationRequest">{{errorMessage}}</div>

    <form novalidate #eventForm="ngForm">
        <fieldset>
            <!--            <legend>Opa</legend>-->
            <div class="form-group row">
                <label class="col-md-2 col-form-label" for="eventTitle">Título</label>
                <div>
                    <input class="form-control"
                           id="eventTitle"
                           type="text"
                           placeholder="Título da cerimônia"
                           size="50"
                           formControlName="title"
                           name="eventTitle"
                           [ngClass]="{'is-invalid': (eventForm.get('title').touched ||
                                                       eventForm.get('title').dirty) &&
                                                       !eventForm.get('title').valid }"/>
                    <span class="invalid-feedback">
                        Pelo menos 3 caraceteres ai mano
                    </span>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-2 col-form-label" for="eventDescription">Descrição</label>
                <div>
                    <input class="form-control"
                           id="eventDescription"
                           type="text"
                           placeholder="Descrição, ordem do dia, etc"
                           required
                           size="50"
                           minlength="5"
                           formControlName="description"
                           name="eventDescription">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-2 col-form-label" for="eventAddress">Endereço</label>
                <div>
                    <input class="form-control"
                           id="eventAddress"
                           type="text"
                           placeholder="Endereço do Capítulo, Loja, etc"
                           size="50"
                           name="eventAddress"
                           formControlName="address">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-2 col-form-label" for="eventDate">Data</label>
                <div>
                    <input class="form-control"
                           id="eventDate"
                           type="text"
                           placeholder="Data da cerimônia, exemplo: 30/08/2020"
                           size="50"
                           formControlName="date"
                           name="eventDate">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-2 col-form-label" for="eventTime">Horário</label>
                <div>
                    <input class="form-control"
                           id="eventTime"
                           type="text"
                           placeholder="Horário da cerimônia, exemplo: 14:00"
                           size="35"
                           minlength="5"
                           formControlName="time"
                           name="eventTime">
                </div>
            </div>

            <div class="form-group row" *ngIf="loggedUser.master">
                <label class="col-md-2 col-form-label" for="published">Publicado</label>
                <div>
                    <mat-checkbox class="example-margin"
                                  id="published"
                                  name="published"
                                  formControlName="published">
                    </mat-checkbox>

<!--                    <input class="form-control"-->
<!--                           id="published"-->
<!--                           type="checkbox"-->
<!--                           [value]="event.published"-->
<!--                           required-->
<!--                           [(ngModel)]="event.published"-->
<!--                           name="published"-->
<!--                           #eventTitle="ngModel">-->
                </div>
            </div>
        </fieldset>
    </form>


    <button *ngIf="loggedUser.master"
            class="btn btn-primary mr-3"
            style="width:80px"
            type="button"
            [title]="isValid() ? 'Save your entered data' : 'Disabled until the form data is valid'"
            [disabled]="!isValid()"
            (click)="saveEvent()">
        Save
    </button>
    <button *ngIf="loggedUser.master"
            class="btn btn-outline-secondary mr-3"
            style="width:80px"
            type="button"
            title="Cancel your edits"
            [routerLink]="['/createdEvents']">
        Cancel
    </button>
    <button *ngIf="loggedUser.master"
            class="btn btn-outline-danger"
            style="width:80px"
            type="button"
            title="Delete this event"
            (click)="deleteEvent()">
        Delete
    </button>

    <div *ngIf="event.id != 0">
        <h3>Convidados</h3>
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Status</th>
                <!--            <th>Confirmado em</th>-->
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let participant of event.participants">
                <td>{{participant.user.firstName}} {{participant.user.lastName}}</td>
                <td>{{participant.status}}</td>
                <!--            <td>{{participant.confirmationDate}}</td>-->
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div>
    Dirty: {{eventForm.dirty}} <br>
    Touched: {{eventForm.touched}} <br>
    Valid: {{eventForm.valid}} <br>
    Value: {{eventForm.value | json}}
</div>

