<div class="container2">

    <div>
        <fieldset>
            <div class="form-group row">
                <label class="col-md-2 col-form-label">Usuário</label>
                <h2>{{loggedUser.username}}</h2>
            </div>

            <div class="form-group row">
                <label class="col-md-2 col-form-label">Nome</label>
                <h2>{{loggedUser.firstName}}</h2>
            </div>

            <div class="form-group row">
                <label class="col-md-2 col-form-label">Sobrenome</label>
                <h2>{{loggedUser.lastName}}</h2>
            </div>

            <div class="form-group row">
                <label class="col-md-2 col-form-label">Capitulo</label>
                <h2>{{loggedUser.chapter.name}} nº {{loggedUser.chapter.id}}</h2>
            </div>
        </fieldset>
    </div>

    <header class="post-header"></header>

    <div>
        <form novalidate [formGroup]="passwordForm">
            <fieldset>
                <div class="form-group row">
                    <label class="col-md-2 col-form-label" for="password">Senha</label>
                    <div>
                        <input class="form-control"
                               id="password"
                               type="password"
                               placeholder=""
                               formControlName="password"
                               name="password"
                               [ngClass]="{'is-invalid': (passwordForm.get('password').touched ||
                                                       passwordForm.get('password').dirty) &&
                                                       !passwordForm.get('password').valid }"/>
                        <span class="invalid-feedback">
                        <span *ngIf="passwordForm.get('password').errors?.required">
                            Senha é um campo obrigatório.
                        </span>
                        <span *ngIf="passwordForm.get('password').errors?.minlength">
                            Senha deve ter pelo menos 6 letras e/ou números.
                        </span>
                    </span>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-2 col-form-label" for="password">Confirmação de senha</label>
                    <div>
                        <input class="form-control"
                               id="passwordConfirmation"
                               type="password"
                               placeholder=""
                               formControlName="passwordConfirmation"
                               name="passwordConfirmation"
                               [ngClass]="{'is-invalid': (passwordForm.get('passwordConfirmation').touched ||
                                                       passwordForm.get('passwordConfirmation').dirty) &&
                                                       !passwordForm.get('passwordConfirmation').valid }"/>
                        <span class="invalid-feedback">
                        <span *ngIf="passwordForm.get('passwordConfirmation').errors?.required">
                            Confirmação de senha é um campo obrigatório.
                        </span>
                            <!--                        <span *ngIf="passwordForm.get('passwordConfirmation').errors?.minlength">-->
                            <!--                            Pelo menos 3 caraceteres ai mano-->
                            <!--                        </span>-->
                    </span>
                    </div>
                </div>
            </fieldset>
        </form>

        <button class="btn btn-primary mr-3"
                style="width:80px"
                type="button"
                [disabled]="!isValid()"
                (click)="changePassword()">
            Salvar
        </button>
    </div>

</div>
