<div class="container">
  <table class="table table-bordered table-inverse">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Last name</th>
      <th>Active</th>
      <th>Username</th>
      <th>Password</th>
      <th>Creation</th>
      <th>Modification</th>
      <th>Inactivation</th>
      <th class="text-right">Actions</th>
    </tr>
    <tr *ngFor="let user of users">
      <td>
        <a [routerLink]="['/admin/view', user.id]">{{user.id}}</a>
      </td>
      <td>
        {{user.firstName}}
      </td>
      <td>
        {{user.lastName}}
      </td>
      <td>
        {{user.active}}
      </td>
      <td>
        {{user.username}}
      </td>
      <td>
        {{user.password}}
      </td>
      <td>
        {{user.creationDate}}
      </td>
      <td>
        {{user.modificationDate}}
      </td>
      <td>
        {{user.inactivatedIn}}
      </td>
      <td>
        <button type="button" class="close" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </td>
      <!-- <td class="text-right">
          {{bike.username}}
      </td> -->
    </tr>
  </table>
</div>
