<div class="container2">

    <div class="post-index">
        <h1 class="post-title">Olá {{loggedUser.firstName}}</h1>
        <header class="post-header">
            <p>Essas são todas as cerimônias para as quais você foi convidado</p>
        </header>
    </div>

    <ul class="post-list" *ngFor="let participation of participations">
        <li class="post-stub">
            <div class="renan">
                <a [routerLink]="['/event/view', participation.event.id]">
                    <h4 class="post-stub-title">{{participation.event.id}}</h4> -
                    <h4 class="post-stub-title">{{participation.event.title}} </h4>
                    <time class="post-stub-date">Ocorrerá em {{participation.event.dateTime | date: "EEEE, dd MMMM yy"}}</time>
                </a>
                <div>
                    <button *ngIf="participation.status == 'INVITED'" class="replyButton notDecided" type="button" (click)="confirmPresenceInEvent(participation.event.id)">Irei!</button>
                    <button *ngIf="participation.status == 'INVITED'" class="replyButton notDecided" type="button" (click)="declinePresenceInEvent(participation.event.id)">Não irei</button>

                    <button *ngIf="participation.status == 'CONFIRMED'" class="replyButton selected" type="button" (click)="confirmPresenceInEvent(participation.event.id)">Irei!</button>
                    <button *ngIf="participation.status == 'CONFIRMED'" class="replyButton notSelected" type="button" (click)="declinePresenceInEvent(participation.event.id)">Não irei</button>

                    <button *ngIf="participation.status == 'DECLINED'" class="replyButton notSelected" type="button" (click)="confirmPresenceInEvent(participation.event.id)">Irei!</button>
                    <button *ngIf="participation.status == 'DECLINED'" class="replyButton selected" type="button" (click)="declinePresenceInEvent(participation.event.id)">Não irei</button>
                </div>
            </div>
        </li>
    </ul>

</div>

<!--<div class="container">-->
<!--    <mat-accordion>-->
<!--        <mat-expansion-panel (opened)="panelOpenState = true"-->
<!--                             (closed)="panelOpenState = false"-->
<!--                             *ngFor="let user of events">-->
<!--            <mat-expansion-panel-header>-->
<!--                <mat-panel-title>{{user.id}}</mat-panel-title>-->
<!--                <mat-panel-title>{{user.event.title}}</mat-panel-title>-->
<!--                <mat-panel-description>{{user.event.address}}</mat-panel-description>-->
<!--                <mat-panel-description>{{user.event.dateTime}}</mat-panel-description>-->
<!--            </mat-expansion-panel-header>-->
<!--            <p>{{user.description}}</p>-->
<!--            <mat-action-row>-->
<!--                <button mat-button>Click me</button>-->
<!--            </mat-action-row>-->
<!--        </mat-expansion-panel>-->
<!--    </mat-accordion>-->
<!--</div>-->
