<div class="container">

    <div class="post-index">
        <h1 class="post-title">Olá, {{loggedUser.firstName}}</h1>
        <header class="post-header">
            <p>Estas são todas as cerimônias para as quais você foi convidado</p>
        </header>
    </div>

    <mat-spinner *ngIf="loading" class="fa fa-spinner spinner"></mat-spinner>

    <div *ngIf="confirmed" class='alert alert-success'>{{confirmationMessage}}</div>

    <ul class="post-list" *ngFor="let participation of participations; let i = index">
        <li class="post-stub">
            <div class="renan">
                <a [routerLink]="['/event/view', participation.event.id]">
<!--                    <h4 class="post-stub-title">{{participation.event.id}}- </h4>-->
                    <h4 class="post-stub-title"> {{participation.event.title}} </h4>
<!--                    <time class="post-stub-date">Ocorrerá em {{participation.event.dateTime}}</time>-->
<!--                    <time class="post-stub-date">Ocorrerá em {{participation.event.dateTime | date: "EEEE, dd MMMM yy"}}</time>-->
                    <time class="post-stub-date">Ocorrerá em {{participation.event.date}}, as {{participation.event.time}}h</time>
                </a>
                <div>
                    <button *ngIf="participation.status == 'CONVIDADO'" class="replyButton notDecided" type="button" (click)="confirmPresenceInEvent(i, participation.event.id)">Irei!</button>
                    <button *ngIf="participation.status == 'CONVIDADO'" class="replyButton notDecided" type="button" (click)="declinePresenceInEvent(i, participation.event.id)">Não irei</button>

                    <button *ngIf="participation.status == 'CONFIRMADO'" class="replyButton selected" type="button" (click)="confirmPresenceInEvent(i, participation.event.id)">Irei!</button>
                    <button *ngIf="participation.status == 'CONFIRMADO'" class="replyButton notSelected" type="button" (click)="declinePresenceInEvent(i, participation.event.id)">Não irei</button>

                    <button *ngIf="participation.status == 'RECUSADO'" class="replyButton notSelected" type="button" (click)="confirmPresenceInEvent(i, participation.event.id)">Irei!</button>
                    <button *ngIf="participation.status == 'RECUSADO'" class="replyButton selected-declined" type="button" (click)="declinePresenceInEvent(i, participation.event.id)">Não irei</button>
                </div>
            </div>
        </li>
    </ul>

    <div *ngIf="participations != null && participations.length == 0">
        <h1>O Mestre Conselheiro não criou cerimônias, ou elas não estão publicadas.</h1>
    </div>

</div>
