<div class="container">
    <div id="configurations" class="container col-md-12">
        <div class="row">
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Chapters details</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div id="chapterMetrics">
                        <p class="card-text">{{metrics.totalChapters}} chapters found</p>
                    </div>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button (click)="toggleChapters()">Show Chapters</button>
                </mat-card-actions>
            </mat-card>

<!--            <div class="card">-->
<!--                <div class="card-body">-->
<!--                    <h5 class="card-title">Chapters</h5>-->
<!--                    <p class="card-text">{{metrics.totalChapters}} chapters found</p>-->
<!--                    <button (click)="toggleChapters()" type="button">Show Chapters</button>-->
<!--                </div>-->
<!--            </div>-->



            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Events details</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div id="eventMetrics">
                        <p class="card-text">{{metrics.totalEvents}} events found</p>
                        <p class="card-text">{{metrics.publishedEvents}} events published</p>
                        <p class="card-text">{{metrics.futureEvents}} events on the future</p>
                    </div>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button (click)="toggleEvents()">Show Events</button>
                </mat-card-actions>
            </mat-card>



            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Users details</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div id="userMetrics">
                        <p>Total users: {{metrics.totalUsers}}</p>
                        <p>Active users: {{metrics.activeUsers}}</p>
                        <p>Logged users: {{metrics.usersThatAlreadyLoggedIn}}</p>
                    </div>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button (click)="toggleUsers()">Show Users</button>
                </mat-card-actions>
            </mat-card>



            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Users requests details</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div id="userRequestMetrics">
                        <p>Total requests: {{metrics.totalUserRequests}}</p>
                        <p>Converted requests: {{metrics.convertedUserRequest}}</p>
                    </div>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button (click)="toggleRequests()">Show requests</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>

    <div class="row">
        <div *ngIf="showChapters">
            <div class="row">
                <h1> List all chapters </h1>
            </div>
            <table class="table">
                <tr>
                    <th>Id</th>
                    <th>Nome</th>
                </tr>
                <tr *ngFor="let chapter of chapters">
                    <a [routerLink]="['/chapter/view', chapter.id]" disabled>
                        <td>{{chapter.id}}</td>
                    </a>
                    <td>{{chapter.name}}</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row">
        <div *ngIf="showEvents">
            <div class="row">
                <h1> List all events </h1>
            </div>
            <table class="table">
                <tr>
                    <th>Id</th>
                    <th>Titulo</th>
                    <th>Data</th>
                    <th>Hora</th>
                    <th>Publicado</th>
                    <th>Capitulo</th>
                </tr>
                <tr *ngFor="let event of events">
                    <a [routerLink]="['/event/view', event.id]" disabled>
                        <td>{{event.id}}</td>
                    </a>
                    <td>{{event.title}}</td>
                    <td>{{event.date}}</td>
                    <td>{{event.time}}</td>
                    <td>{{event.published}}</td>
                    <td>{{event.chapter.id}}</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row">
        <div *ngIf="showUsers">
            <div class="row">
                <h1> List all users </h1>
            </div>
            <table class="table">
                <tr>
                    <th>Id</th>
                    <th>Usuário</th>
                    <th>Email</th>
                    <th>Ativo</th>
                    <th>Master</th>
                    <th>Ultimo login</th>
                </tr>
                <tr *ngFor="let user of users">
                    <a [routerLink]="['/user/view', user.id]" disabled>
                        <td>{{user.id}}</td>
                    </a>
                    <td>{{user.username}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.active}}</td>
                    <td>{{user.master}}</td>
                    <td>{{user.lastLogin}}</td>
<!--                    <td>{{user.chapter.id}}</td>-->
                </tr>
            </table>
        </div>
    </div>


    <div class="row">
        <div *ngIf="showRequests">
            <div class="row">
                <h1> List all requests </h1>
            </div>
            <table class="table">
                <tr>
                    <th>Request</th>
                    <th>Email</th>
                    <th>Criada</th>
                    <th>Capítulo</th>
                    <th>Criador</th>
                    <th>Usuário</th>
                </tr>
                <tr *ngFor="let request of requests">
                    <td>{{request.id}}</td>
                    <td>{{request.email}}</td>
                    <td>{{request.creationDate}}</td>
                    <td>{{request.chapterName}}</td>
                    <td>{{request.createdByUsername}}</td>
                    <td>{{request.userId}}</td>
<!--                    <td>{{request | json}}</td>-->
                    <!--                    <td>{{user.chapter.id}}</td>-->
                </tr>
            </table>
        </div>
    </div>
</div>