.single-column .left-sidebar {
    display: none; }

.scroll-sidebar {
    padding-bottom: 60px; }


.sidebar-nav {
    background: #fff;
    padding: 15px; }
.sidebar-nav ul {
    margin: 0px;
    padding: 0px; }
.sidebar-nav ul li {
    list-style: none; }
.sidebar-nav ul li a {
    color: #607d8b;
    padding: 8px 35px 8px 15px;
    display: block;
    font-size: 15px;
    border-radius: 4px;
    white-space: nowrap; }
.sidebar-nav ul li a.active, .sidebar-nav ul li a:hover {
    color: #26c6da; }
.sidebar-nav ul li a.active {
    font-weight: 500;
    color: #263238; }
.sidebar-nav ul li ul {
    padding-left: 5px;
    padding-top: 10px; }
.sidebar-nav ul li ul li a {
    padding: 10px 35px 10px 15px; }
.sidebar-nav ul li ul ul {
    padding-left: 15px; }
.sidebar-nav ul li.nav-small-cap {
    font-size: 12px;
    margin-bottom: 0px;
    padding: 14px 14px 14px 20px;
    color: #263238;
    font-weight: 500; }
.sidebar-nav ul li.nav-devider {
    height: 1px;
    background: rgba(120, 130, 140, 0.13);
    display: block;
    margin: 20px 0; }
.sidebar-nav > ul > li {
    margin-bottom: 10px; }
.sidebar-nav > ul > li.active > a {
    color: #ffffff;
    font-weight: 500;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); }
.sidebar-nav > ul > li.active > a i {
    color: #26c6da; }
.sidebar-nav > ul > li > a.active i, .sidebar-nav > ul > li > a:hover i {
    color: #26c6da; }
.sidebar-nav > ul > li > a i {
    width: 27px;
    height: 27px;
    font-size: 21px;
    display: inline-block;
    vertical-align: middle;
    color: #99abb4; }
.sidebar-nav > ul > li > a .label {
    float: right;
    margin-top: 6px; }
.sidebar-nav > ul > li > a.active {
    font-weight: 400;
    background: #ffffff;
    color: #26c6da; }

/****************
When click on sidebar toggler and also for tablet
*****************/
@media (min-width: 768px) {
    .mini-sidebar .sidebar-nav #sidebarnav li {
        position: relative; }
    .mini-sidebar .sidebar-nav #sidebarnav > li > ul {
        position: absolute;
        left: 60px;
        top: 45px;
        width: 200px;
        z-index: 1001;
        background: #f2f6f8;
        display: none;
        padding-left: 1px; }
    .mini-sidebar .sidebar-nav {
        padding: 5px; }
    .mini-sidebar .sidebar-nav #sidebarnav > li:hover > ul {
        height: auto !important;
        overflow: auto; }
    .mini-sidebar .sidebar-nav #sidebarnav > li:hover > ul,
    .mini-sidebar .sidebar-nav #sidebarnav > li:hover > ul.collapse {
        display: block; }
    .mini-sidebar .sidebar-nav #sidebarnav > li > a.has-arrow:after {
        display: none; }
    .mini-sidebar .left-sidebar {
        width: 60px; }
    .mini-sidebar .user-profile {
        padding-bottom: 15px;
        width: 60px;
        margin-bottom: 7px; }
    .mini-sidebar .user-profile .profile-img {
        padding: 15px 0 0 0;
        margin: 0px 0 0 6px; }
    .mini-sidebar .user-profile .profile-img:before {
        top: 15px; }
    .mini-sidebar .scroll-sidebar {
        padding-bottom: 0px;
        position: absolute; }
    .mini-sidebar .hide-menu,
    .mini-sidebar .nav-small-cap,
    .mini-sidebar .sidebar-footer,
    .mini-sidebar .user-profile .profile-text {
        display: none; }
    .mini-sidebar .nav-devider {
        width: 50px; }
    .mini-sidebar .sidebar-nav {
        background: transparent; }
    .mini-sidebar .sidebar-nav #sidebarnav > li > a {
        padding: 9px 15px;
        width: 50px; }
    .mini-sidebar .sidebar-nav #sidebarnav > li:hover > a {
        width: 260px;
        background: #26c6da;
        color: #ffffff;
        border-color: #009efb; }
    .mini-sidebar .sidebar-nav #sidebarnav > li:hover > a i {
        color: #ffffff; }
    .mini-sidebar .sidebar-nav #sidebarnav > li:hover > a .hide-menu {
        display: inline; }
    .mini-sidebar .sidebar-nav #sidebarnav > li.active > a {
        border-color: transparent; }
    .mini-sidebar .sidebar-nav #sidebarnav > li.active > a.active {
        border-color: #009efb; } }

@media (max-width: 767px) {
    .mini-sidebar .left-sidebar {
        position: fixed; }
    .mini-sidebar .left-sidebar, .mini-sidebar .sidebar-footer {
        left: -240px; }
    .mini-sidebar.show-sidebar .left-sidebar, .mini-sidebar.show-sidebar .sidebar-footer {
        left: 0px; } }

/*******************
Wave Effects
*******************/
.waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    z-index: 1;
    will-change: opacity, transform;
    -webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    -ms-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out; }
.waves-effect .waves-ripple {
    position: absolute;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    opacity: 0;
    background: rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.7s ease-out;
    -moz-transition: all 0.7s ease-out;
    -o-transition: all 0.7s ease-out;
    -ms-transition: all 0.7s ease-out;
    transition: all 0.7s ease-out;
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    -o-transition-property: -o-transform, opacity;
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, -webkit-transform;
    -o-transition-property: transform, opacity;
    transition-property: transform, opacity;
    transition-property: transform, opacity, -webkit-transform;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    pointer-events: none; }

.waves-effect.waves-light .waves-ripple {
    background-color: rgba(255, 255, 255, 0.45); }

.waves-effect.waves-red .waves-ripple {
    background-color: rgba(244, 67, 54, 0.7); }

.waves-effect.waves-yellow .waves-ripple {
    background-color: rgba(255, 235, 59, 0.7); }

.waves-effect.waves-orange .waves-ripple {
    background-color: rgba(255, 152, 0, 0.7); }

.waves-effect.waves-purple .waves-ripple {
    background-color: rgba(156, 39, 176, 0.7); }

.waves-effect.waves-green .waves-ripple {
    background-color: rgba(76, 175, 80, 0.7); }

.waves-effect.waves-teal .waves-ripple {
    background-color: rgba(0, 150, 136, 0.7); }
