<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div *ngIf="tokenStatus == TokenStatus.Validating">
                Validating token...
            </div>

            <div *ngIf="tokenStatus == TokenStatus.Invalid">
                Requisição inválida ou expirada. Solicite uma nova <a routerLink="/forgotpassword">aqui</a>.
            </div>

            <div *ngIf="tokenStatus == TokenStatus.Valid">
                <form [formGroup]="form" (ngSubmit)="onSubmit()" class="login100-form validate-form">
                    <div class="col alert alert-danger text-center" *ngIf="errorMessage.length > 0">{{errorMessage}}</div>
                    <div class="col alert alert-success text-center" *ngIf="successMessage.length > 0">
                        <a href="login">{{successMessage}}</a>
                    </div>

                    <span class="login100-form-title p-b-34">NOVA SENHA</span>

                    <div class="wrap-input100 validate-input m-b-20">
                        <label for="inputPassword">Password</label>
                        <input id="inputPassword" type="password" formControlName="password" class="input100"
                               [ngClass]="{ 'is-invalid': submitted && f.password.errors }"/>
                        <!--                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">-->
                        <!--                        <div *ngIf="f.password.errors.required">Password is required</div>-->
                        <!--                        <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>-->
                        <!--                    </div>-->
                    </div>

                    <div class="wrap-input100 validate-input m-b-20">
                        <label for="inputConfirmPassword">Confirm Password</label>
                        <input id="inputConfirmPassword" type="password" formControlName="confirmPassword"
                               class="input100"
                               [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }"/>
                        <!--                    <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">-->
                        <!--                        <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>-->
                        <!--                        <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>-->
                        <!--                    </div>-->
                    </div>


                    <div class="container-login100-form-btn">
                        <button [disabled]="!isValid()" class="login100-form-btn">
                            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                            CONFIRMAR
                        </button>
                    </div>
                </form>

                <div class="login100-more" style="background-image: url('assets/demolay_logo.png');"></div>
            </div>
        </div>
    </div>
</div>



