<span class="fa fa-spinner spinner"*ngIf="loading"></span>

<div class="container2">
    <div class="post-index">
        <h1 class="post-title">Olá, {{loggedUser.firstName}}</h1>
        <header class="post-header">
            <p>Estas são todas as cerimônias que você criou</p>
        </header>
    </div>

    <header class="post-header">
        <button [routerLink]="['/event/view', 0]" class="replyButton notDecided" type="button">Criar nova cerimônia
        </button>
    </header>

    <ul class="post-list" *ngFor="let event of events">
        <li class="post-stub">
<!--            <div [ngClass]="{'not-published': event.published === false}">-->
                <div class="renan">
                    <a [routerLink]="['/event/view', event.id]">
                        <h4 class="post-stub-title">{{event.id}}</h4> -
                        <h4 class="post-stub-title">{{event.title}} </h4>
                        <time class="post-stub-date">Ocorrerá em {{event.date}}, as {{event.time}}h</time>
                        <!--                    <time class="post-stub-date">Ocorrerá em {{event.date | date: "EEEE, d MMMM":'UTC-0':'pt'}} - {{event.time}}</time>-->
                        <!--                    <time class="post-stub-date">Ocorrerá em {{event.time | date: "HH:mm":'UTC-0':'pt'}}</time>-->
                    </a>
                    <!--                    <button *ngIf="event.published === false" class="replyButton notDecided" type="button" [routerLink]="['/event/view', event.id]">-->
                    <!--                        Publicar-->
                    <!--                    </button>-->
                </div>
<!--            </div>-->
            <!--            <div>-->
            <!--                <button class="replyButton notDecided" type="button" [routerLink]="['/event/view', event.id]">Modificar</button>-->
            <!--                <button class="replyButton notDecided" type="button">Deletar</button>-->
            <!--            </div>-->
        </li>
    </ul>

</div>
